[mysqld]
#sql-mode=NO_AUTO_CREATE_USER
#validate_password
plugin-load-add=validate_password.so
validate-password=FORCE_PLUS_PERMANENT
validate_password_check_user_name=ON
validate_password_length=8
validate_password_mixed_case_count=1
validate_password_number_count=1
validate_password_policy=MEDIUM
validate_password_special_char_count=1
default_password_lifetime=90
